<launch>

  <rosparam command="load" file="$(find direct_stereo_slam)/cams/kitti/00_02/T_stereo.yaml" ns="direct_stereo_slam"/>

  <node name="direct_stereo_slam" pkg="direct_stereo_slam" type="slam_node" output="screen">
    <param name="cam0_topic" value="/left/image_raw" />
    <param name="cam1_topic" value="/right/image_raw" />
    <param name="calib0" value="$(find direct_stereo_slam)/cams/kitti/00_02/camera0.txt" />
    <param name="calib1" value="$(find direct_stereo_slam)/cams/kitti/00_02/camera1.txt" />
  </node>

  </launch>
